/*
https://codepen.io/jasonheecs/pen/GNNwpZ
*/
body {
  background-color: black;
}

.App {
  overflow: hidden;
  text-align: center;
}

.App-header {
  padding: 8px;
  text-align: left;
}
.App-logo {
  height: 32px;
  pointer-events: none;
}

.main {
  height: 75vh;
  overflow: hidden;
  overflow-y: auto;
}

.item {
  height: 163px;
  max-height: 163px;
}

.card {
  cursor: pointer !important;
  transition: transform 0.5s;
}
.card::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.15);
  content: "";
  opacity: 0;
  z-index: -1;
}
.card:hover, .card:focus {
  transform: scale3d(1.006, 1.006, 1);
}
.card:hover::after, .card:focus::after {
  opacity: 1;
}

.toggle_hide {  
  display: none;
  opacity: 0;  
}